<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body style="background: #ffffff url(/images/Eevee_html.webp) center center/cover no-repeat; ">
    <audio id="background-music" src="../music/BennyHill.mp3" autoplay loop></audio>
    <div class="topnav">
        <a href="..">Home</a>
        <a href="facts.html">Facts</a>
        <a href="about.html">About</a>
    </div>
    <div class="paragraph-text-layout">
    <h1 id="header-one">An interview with John Mango: </h1>
    <img src="../images/mango.png" class="center" style="margin-bottom: -240px; transform: scale(.7);">
    <img src="../images/Suit.webp" class="center">
        <div style="font-weight: bolder;">
        <p>Interviewer: Mr. Mango, what inspired you to create a food that soars above and beyond anything seen before?</p>
        <p>Mango: Well, when I was a young manglet, I was constantly appalled by the state of gastronomy that the world had tolerated for centuries.</p>
        <p>It wasn't until I was almost a manglor that I realized, the world needed a choice and only I could give it to them.</p>
        <p>Interviewer: Did you find success in the business at first?</p>
        <p>Mango: Naturally there were ups and downs, I'm sure you heard about the avacado scandal of [REDACTED]</p>
        <p>But despite the many casualties, we believe that the experience helped better the practice for future generations.</p>
        <p>Interviewer: Do you have any future plans for the business? What can we expect to see from MangCorp™ in the coming years?</p>
        <p>Mango: While I cannot legally disclose too much information of our coming projects, I can tell you that the innovative technology of genetic splicing created by Aperature Science has opened many doors of possibilty for us here.</p>
        <p>Interviewer: Final question, Mr. Mango. Are you not worried about the alarmingly large creature behind you right now?</p>
        <p>Mango: Don't look into its eyes.</p>
        <p>The tape ends here, further investigation is required before conclusive evidence can be found.</p>
        <p>The suspect of multiple local disappearances, known only by the pseudonym "EV", has not been located.</p>
        </div>
    </div>
</body>
</html>
