<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body style="background: #ab3600 url(/images/Eevee_html.webp) center center/cover no-repeat;">
    <audio id="background-music" src="music/BennyHill.mp3" autoplay loop></audio>
    <div class="topnav">
        <a href="..">Home</a>
        <a href="#news">News</a>
        <a href="facts.html">Facts</a>
        <a href="about.html">About</a>
    </div>
    <div class="center">
    <h1 id="header-one">Here are some cool mango facts B)</h1>
    <p>Mangos are considered stone fruits</p>
    <p>Mangos make up almost 20% of Eastern market trade </p>
    <p>The rumors say that </p>
    <p></p>
    </div>
</body>
</html>