<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body style="background: #b92cab url(../images/pineapple-background.webp) center center/cover no-repeat;">
    <audio id="background-music" src="../music/BennyHill.mp3" autoplay loop></audio>
    <div class="topnav">
        <a href="..">Home</a>
        <a href="facts.html">Facts</a>
        <a href="about.html">About</a>
    </div>
    <!-- <div class="center"> -->
    <h1 id="header-one">Here are some cool mango facts B)</h1>
        <div class="outlined-text" style="font-size: large; font-weight: bold;">
        <img src="../images/cornucopia.jpg" id="cornucopia">
        <p>Mangos are considered stone fruits!</p>
        <p>Mangos are considered a symbol of love in India!</p> 
        <p>Mangos make up almost 20% of Eastern market trade!</p>
        <p>A mango was once elected president of Estonia!</p>
        <p>A mango has not once been found guilty of a war crime by the ICC!</p>
        <p>The darkness is coming!</p>
        </div>
        <a href="https://en.wikipedia.org/wiki/Industrial_Revolution" class="button-link" target="_blank">More Mango Facts!!!</a>
    <!-- </div> -->
</body>
</html>